#footnotes {
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  font-size: x-small;
  text-align: left;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.3);
  list-style-type: none;
}
