#icon {
  list-style-type: none;
  margin: 2px 1px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.icon-links a {
  color: gray;
  text-decoration: none;
}

.icon-links a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

#footnotes {
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  font-size: x-small;
  text-align: left;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.9);
  list-style-type: none;
}

#twitter-icon {
}

#linkedin-icon {
  background-color: white;
}
