#icon {
  list-style-type: none;
}

// .fa-linkedin {
//   background: #007bb5;
//   color: white;
// }

// .fa-twitter {
//   background: #55acee;
//   color: white;
// }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.icon-links a {
  color: gray;
  text-decoration: none;
}

.icon-links a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
